/* ==========================
   Global Styles
   ========================== */

html {
    scroll-behavior: smooth;
}  

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    border-radius: 14px;
}

/* ==========================
   Header and Navigation
   ========================== */

header {
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    height: 90px;
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 75%  ,rgba(255, 255, 255, 0.25) 75%, rgba(255, 255, 255, 0) 100%);
    transition: top 0.3s;
    z-index: 1000;
}

nav {
    
    display: flex;
    justify-content: space-between;
    margin: 0 1%;
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #000000;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 20px;
}

.navlink {
    color: #000000;
    font-weight: 550;
    position: relative;
    display: inline-block;
}
  
.navlink::after,
.navlink::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000000;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-out;
}

.navlink::before {
  bottom: -5px;
  transform-origin: left;
}

.navlink:hover::after,
.navlink:hover::before {
  transform: scaleX(1);
}   

/* ==========================
   Typography
   ========================== */

p{
    color: #000;
}

p.title {
    padding: 0 1.25%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

p.semi-title {
    font-weight: 800;
    font-size: 30px;
}

p.bolder {
    font-weight: bolder;
    font-size: 35px;
}

p.light {
    font-weight: 400;
    color: #828282;
    font-size: 20px;
    text-align: justify;
}

/* ==========================
   Footer
   ========================== */
footer {
    background-color: #363636;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 100px;
    padding: 50px 0;
    position: relative;
}

footer .contact a {
    color: #828282;
    font-weight: 500;
    font-size: 20px;
}

footer .contact a:hover {
    color: #1a1a1a;
    transition: 200ms;
}

.right, .contact {
    padding: 0;
    margin: 0 7%;
}

@media screen and (max-width: 1000px){
    body{
        font-size: 15px;
    }

    nav ul li a {
        font-size: 15px;
    }

    p.light {
        font-size: 15px;
    }

    footer{
        padding-top: 20px;
    }

    .right, .contact {
        padding: 0;
        margin: 0 4%;
    }

    footer .right p, footer .contact a {
        font-size: 13px;
    }
}

@media screen and (max-width: 480px){
    nav{
        font-size: 12px;
    }

    nav ul li {
        margin: 0 5px;
    }

    nav ul li a {
        font-size: 12px;
    }

    .semi-title {
        width: 90%;
    }
}